*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    height: 124px;
    background: linear-gradient(1.02deg, #FFFFFF -17.21%, rgba(74, 153, 211, 0) 75.91%), #FC0B0D;    
    opacity: 0.2;
    width: auto;
}


.logo{
    position: absolute;
    left: 238px;
    top: 32px;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #4A99D3;
}


.user{
    position: absolute;
    margin-left: 938px;
    margin-top: -85px;
}

.register{
    position: absolute;
    margin-top: -72px;
    margin-left: 1002px;
    color: #0F001A;
    text-decoration:  none;
    size: 18px;
}

.addbtn{
    position: absolute;
    width: 58px;
    height: 40px;
    right: 167.69px;
    top: 40px; 
    
}

.sell {
    position: absolute;
    margin-left: 1380px;
    margin-top: -75px;
}

.navmenu{
    position: absolute;
    height: 364.78px;
    width: 1297px;
    top: 124px;
    left: 100px;
    background: #EAF6FF;
}


.text{
    position: absolute;
    width: 503px;
    left: 150px;
    top: 60px;
    font-size: 33px;
}

.img{
    position: absolute;
width: 436px;
height: 382px;
left: 780px;
top: 55px;
}

.searchbar{
    position: absolute;
    display: flex;
    margin-top: 170px;
    margin-left: 100px;
    width: 100%;
    max-width: 575px;
    height: 69px;
    align-items: center;
    padding: 10px 20px;
    border-color: red;
    border: 2px solid #FC0B0D;
    border-radius: 20px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.searchbar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    font-size: 16px;   
}

::placeholder{
    color: #004B84;
}

.searchbutton{
    position: absolute;
    width: 66.09px;
    height: 30.21px;
    left: 50px;
    top: 20px;
}

.button{
    position: absolute;
    height: 30px;
    left: 380px;
    top: 20px;
    width: 300px;
}

.card1{
    position: absolute;
    height: 303px;
    left: 70px;
    top: 592px;
    background: #FAFAFA;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 626px;
}

.usednew{
    position: absolute;
    left: 45px;
    top: 41px;
    font-weight: 600;
    font-size: 29.65px;
    align-items: center;
}

.lorem{
    position: absolute;
    width: 279px;
    height: 100px;
    left: 28px;
    top: 69px;
    font-size: 20.65px;
    display: flex;
    align-items: center;
}

.cardimg1{
    position: absolute;
    margin-left: 350px;
    margin-top: 50px;
}

.viewmore1{
    position: absolute;
    height: 48px;
    left: 86px;
    top: 228px;
    background: #FC0B0D;
    border-radius: 10px;
    border: none;
    width: 153px;
}

.viewmore{
    color: #000000;
    font-weight: 500;
    font-size: 20.65px;
}

.card2{
    position: absolute;
width: 626px;
height: 303px;
left: 744px;
top: 592px;

background: #FAFAFA;
box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}



.Services{
    position: absolute;
    left: 93px;
    top: 46px;
    font-weight: 600;
    font-size: 29.65px;
    line-height: 36px;
}

/* cards */

.box{

    display: flex;
    justify-content: center;

}

.card{
    position: relative;
    height: 370px;
    left: 25px;
    top: 900px;
    background: #FFFFFF;
    box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.25);
    width: 308px;
    margin: 21px;
}

.textinbox{
    position: relative;
    height: 100px;
    left: 50px;
    font-size: 24px;
}

.price{
    position: absolute;
    left: 50px;
    top: 270px;
    font-weight: 700;
    font-size: 20px;
    color: #EB3223;
}

.description{
    position: absolute;
    left: 50px;
    top: 326px;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    opacity: 0.5;
}

.data {
    position: absolute;
    left: 240px;
    top: 330px;
    font-size: 12px;
    opacity: 0.5;
}

.tag {
    position: absolute;
    width: 40px;
    height: 16px;
    left: 240px;
    top: 275px;
    background: #F12B2C;
    border-radius: 4px;
}

.laptopphoto{
   margin-left: -4px
}

.tablephoto{
    margin-top: -38px;
}

.vans{
    margin-top: -70px;
}

.line{
    position: absolute;
    left: 69px;
    top: 2412.81px;
    border: 2px solid #E5E5E5;
    width: 524px;
}

.line2{
    position: absolute;
    width: 580px;
    left: 842px;
    top: 2413.81px;
    border: 2px solid #E5E5E5;
    border: 2px solid #E5E5E5;
}

.linetext {
       position: absolute;
       font-size: 29.8267px;
       display: flex;
       align-items: center;
       border: 1px solid #FC0B0D;
       border-radius: 14.4439px;
       width: 221px;
       height: 70.25px;
       left: 607px;
       top: 2378px;
       padding-left: 40px;
}




/* footer */

.container2{
    position: relative;
    left: 0px;
    width:100% ;
    height: 300px;
    top: 1200px;
    background: #EAF6FF;
}
.tittle1{
    position: absolute;
    width: 283px;
    height: 58px;
    top: 60px;
    left: 71px;
}
.footertxt{
    position: absolute;
    width: 610px;
    height: 110px;
    left: 71px;
    top: 110px;
    color: rgba(80, 74, 65, 1);
}
.contact{
    position: absolute;
    width: 140px;
    height: 30px;
    text-align: center;
    left: 859px;
    top: 57px;
}
.call{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 890px;
    text-align: center;
    top: 87px;
}
.call1{
    position: absolute;
    white-space: 143px;
    height: 22px;
    left: 920px;
    top: 87px;
}
.message{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 890px;
    top: 125px;
}
.message1{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 920px;
    top: 125px;
}
.location{
    position: absolute;
    width: 18px;
    height: 22px;
    left: 890px;
    top: 160px;
}
.location1{
    position: absolute;
    width: 18px;
    height: 22px;
    left: 920px;
    top: 160px;
}
.about{
    position: absolute;
    white-space: 118px;
    height: 30px;
    left: 1190px;
    top: 52px;
}
.sup{
    position: absolute;
    width: 74px;
    height: 22px;
    left: 1190px;
    top: 87px;
}
.privacy{
    position: absolute;
    width: 74px;
    height: 22px;
    left: 1190px;
    top: 125px;
}

